/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0px 10%;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #939393;
}

/* sezione debbug */

/* .debbug .intestazione{
    background-color:#e579e6 ;
    height: 90px;
} */

.debbug .container{
    background-color: #0086ff;
    height: 430px;
}

.debbug .sottotitolo{
    background-color:#abcfe7 ;
    height: 65px;
}

.debbug .banner{
    background-color:#abcfe7 ;
    height: 300px;
}


/* form header */
.intestazione {
    margin-bottom: 25px;
}

.debbug .footer{
    background-color: #8601fe;
    height: 45px;
}
/* fine sezione debbug */

/* header */
#logo {
    height: 90px;
    vertical-align: middle;
    border-right: 1px solid #e5e5e5;
    padding-right:20px ;
}

.menu ul li {
    display: inline-block;
    margin: 30px 10px 10px 0px;
    font-size: larger;
    text-transform: uppercase;
}
/* fine header */


/* jumbotron */
.jumbotron { 
    background-image: url(../img/banner.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.testo-jumbo {
    padding: 400px 50% 100px 40px; 

}
/* fine jumbotron */

/* inizio main */
.container {
    margin-bottom: 10px;
}

.container::after{
    content: " ";
    display:table;
    clear:both;
}

/* inizio sottotitolo */
.sottotitolo {

}
/* fine sottotitolo */

/* inizio banner DX,CENTER,SX */
.banner {
    float: left;
    margin: 30px 0;
}

.dx, .sx {
    width: 25%;
}

.center {
    width:calc(50% - 30px);
    margin: 30px 15px;
}
/* fine banner DX,CENTER,SX */

/* fine main */

/* inizio ringraziamento */
footer {
}
/* fine ringraziamento */