/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0px 30px;
}

/* sezione debbug */
.debbug .intestazione{
    background-color:#e579e6 ;
    height: 90px;
    /*height da togliere */
}


.debbug .container{
    background-color: #0086ff;
    height: 430px;
    /* height da togliere */
}

.debbug .sottotitolo{
    background-color:#abcfe7 ;
    height: 65px;
    /* fine form header */
}

.debbug .banner{
    background-color:#abcfe7 ;
    height: 300px;
    /* height da togliere */
}


/* form header */
.intestazione {
    margin-bottom: 25px;
}

.debbug .footer{
    background-color: #8601fe;
    height: 45px;
    /* height da togliere */
}
/* fine sezione debbug */

/* header */
#logo {
    height: 90px;
    vertical-align: middle;
}
/* fine header */


/* jumbotron */
.jumbotron {
    background-color:#e1d67a;
    margin-bottom: 25px;
    height: 350px;
}
/* fine jumbotron */

/* inizio main */
.container {
    margin-bottom: 10px;
}

.container::after{
    content: " ";
    display:table;
    clear:both;
}

/* inizio sottotitolo */
.sottotitolo {

}
/* fine sottotitolo */

/* inizio banner DX,CENTER,SX */
.banner {
    float: left;
    margin: 30px 0;
}

.dx, .sx {
    width: 25%;
}

.center {
    width:calc(50% - 30px);
    margin: 30px 15px;
}
/* fine banner DX,CENTER,SX */

/* fine main */

/* inizio ringraziamento */
footer {
}
/* fine ringraziamento */